.main_title {
  font-family: "Segoe UI Black,Open Sans";
  font-style: normal;
  font-size: 41px;
  line-height: 1.35;
  text-transform: uppercase;
  color: #344653;
  padding-top: 44px;
  margin-bottom: 15px;
  text-align: left;
  max-width: 600px;
  font-style: normal;
  font-weight: 800;
}